html{
    scroll-behavior:smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8f8f8;
}

header{
    background:#f8f9f9;
    color:rgba(16, 2, 2, 0.889);
    padding:15px;

    position:sticky;
    top:0;
    z-index:1000;
}

header h1{
    text-align:center;
}

nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:10px;
}

nav a{
    color:rgb(9, 9, 9);
    text-decoration:none;
    padding:12px 20px;
    margin:5px;
    font-weight:bold;
    border-radius:30px;
    transition:0.3s ease;
}

nav a:hover{
    background:rgba(0, 0, 0, 0.929);
    color:#e6e4e2;
}

.hero{
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    position: relative;
    overflow: hidden;
}

.hero h2{
    font-size:45px;
    background:rgba(0,0,0,0.5);
    padding:20px;
    border-radius:10px;
}

section{
    padding:50px;
    text-align:center;
}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:280px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

.card img{
    width:100%;
    height:180px;
    object-fit:contain;
    background:#fff;
}
.card:hover img{
    transform:scale(1.05);
}

.card h3{
    margin:15px;
}

.card p{
    padding:0 15px 20px;
}

.whatsapp{
    position:fixed;
    right:20px;
    bottom:20px;
}

.whatsapp a{
    background:#25D366;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;
    font-size:18px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.12);
}

.hero-content{
    position:relative;
    z-index:2;
    color:white;
}

.hero h2{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    background:#8B4513;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    border-radius:8px;
    font-size:18px;
    transition:0.3s;
}

.btn:hover{
    background:#A0522D;
}

.btn-outline{
    background:transparent;
    border:2px solid white;
}

.btn-outline:hover{
    background:white;
    color:#8B4513;
}
.order-btn{
    display:inline-block;
    margin:15px;
    padding:10px 18px;
    background:#25D366;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.order-btn:hover{
    background:#1da851;
}

.products-category{
    font-size:48px;
    font-weight:700;
    text-align:center;
    color:#0d0d0dde;

    width:100%;

    margin:70px 0 40px;
    padding:20px;

    background:linear-gradient(to right,#ac97d5,#e899e1,#9573bb);

    border-left:8px solid #000000f5;
    border-right:8px solid #131212;

    border-radius:12px;
}

.about{
    padding:80px 10%;
    text-align:center;
}

.about h2{
    font-size:42px;
    color:#000000dd;
    margin-bottom:25px;
}

.about p{
    font-size:20px;
    line-height:1.8;
    color:#000000e4;
}

.about-boxes{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:50px;
    flex-wrap:wrap;
}

.about-card{
    width:280px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.3s;
}

.about-card:hover{
    transform:translateY(-8px);
}

.about-card h3{
    color:#010101e1;
    margin-bottom:15px;
}

#searchBox{
    width:60%;
    max-width:500px;
    padding:15px;
    font-size:18px;
    border:2px solid #000000d9;
    border-radius:10px;
    outline:none;
    margin-bottom:30px;
}

#searchBox:focus{
    box-shadow:0 0 10px rgb(247, 247, 247);
}

.details-btn{
    width:90%;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:8px;
    background:black;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.details-btn:hover{
    background:#ebe6ea;
}

/* Product Popup */

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:rgba(0,0,0,0.6);

    justify-content:center;
    align-items:center;

    z-index:1000;
}

.modal-content{

    background:white;

    width:90%;
    max-width:500px;

    padding:30px;

    border-radius:15px;

    text-align:center;

    position:relative;

    animation:popup 0.3s ease;
}

.modal-content img{

    width:250px;
    height:250px;

    object-fit:cover;

    border-radius:12px;

    margin-bottom:20px;
}

.close-btn{

    position:absolute;

    top:15px;
    right:20px;

    font-size:30px;

    cursor:pointer;

    color:red;
}

@keyframes popup{

    from{
        transform:scale(0.8);
        opacity:0;
    }

    to{
        transform:scale(1);
        opacity:1;
    }

}

.cart-btn{
    width:90%;
    padding:12px;
    margin:10px;
    border:none;
    border-radius:8px;
    background:black;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.cart-btn:hover{
    background:gray;
}
#cartIcon{
    background:white;
    color:black;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    margin-left:20px;
}

#cartIcon:hover{
    background:black;
}

/* Shopping Cart */

.cart-panel{

    position:fixed;

    top:0;
    right:-350px;

    width:320px;
    height:100%;

    background:white;

    box-shadow:-5px 0 15px rgba(0,0,0,.2);

    padding:20px;

    transition:.4s;

    z-index:2000;

    overflow-y:auto;

}

.cart-panel.active{

    right:0;

}

.cart-panel h2{

    margin-bottom:20px;

    color:#8B4513;

}

#cartItems{

    list-style:none;

    padding:0;

}

#cartItems li{

    padding:10px;

    border-bottom:1px solid #ddd;

}

#closeCart{

    width:100%;

    margin-top:20px;

    padding:12px;

    background:#8B4513;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

}